*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
.heading{
    background-color: black;
    height: 10vh;
    color: white;
    font-size: 30px;
    padding:  20px;
}

.createRow{
    margin: 30px  80px;
    background-color: black;
    color: white;
    padding: 5px 10px;
}
table {
    margin: auto;
    border-collapse: collapse;
    width: 90%;
    margin-bottom: 2px solid black;
    border: 1px solid black;
}
th{
    border-bottom: 2px solid black;
    border-right: 1px solid black;
    padding: 10px 15px;
}
tbody tr td{
    border-right: 1px solid black;
    text-align: center;
    
    height: 50px;
}
.adjust{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    text-align: center;
}